<h1><%= @title if @title %></h1> <!-- the if is to prevent an error from popping up constantly -->

<table>
<tr>
<th>Original URL</th>
<th>Shortened URL</th>
</tr>

<%  @urls.each do |url| %>
    <tr>
    <td><a href = <%= url.long_url %> ><%= url.long_url %></a></td>
    <td> <%= link_to url.short_url, controller: :urls, action: :short, id: url %></a> </td>
    <td><%= link_to 'Show', urls_path(url) %> </td>
    <!-- urls_path is still the pathway for your routes the only thing that changes,is that is taking an argument now/passing information this way which is normally impossible but because of this framework it can -->
    <td><%= link_to 'Delete', urls_path(url), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>   
<% end %>
</table>
<br>
<hr>
<br>
<%= link_to "Shorten a Url!", new_url_path %>
<br>
<p>This ONE BELOWED IS a prefered one.</p>
<%= link_to 'Shorten a Url!', controller: :urls, action: :new%>
<br>
<hr>
<br>


